/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the navigation */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo styles */
.logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-image: url('../images/S_logo.jpg');
  background-size: cover;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  margin: 0; /* Remove default margin */
}

.logo span {
  color: #f39c12; /* Adding some color contrast */
}

/* Navigation links */
.flex-options {
  display: flex;
}

.flex-options a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.flex-options a:hover {
  color: #f39c12; /* Changing color on hover */
}

/* Adding some animation to the logo */
.logo i {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
